{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
<div class="order solid border-zinc-800 py-4 border-x-0 border-y-2">
    <h1 class="text-4xl font-bold text-center">Collaborators</h1>
    </div>
    
  <ul>
    {% for name in authors %}
      <li>{{ name }}</li>
    {% endfor %}
    </ul>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget massa
    interdum, rhoncus ex dignissim, ultricies tellus. Proin convallis mauris ut
    est pulvinar aliquet. Nulla facilisi.
  </p>

{% endblock %}
