{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<main>
    <div class="border solid border-zinc-800 py-4 border-x-0 border-y-2 mx-4">
      <h1 class="text-6xl font-md text-center">Lens of Truth: Showing what matters</h1>
    </div>
</main>
{% endblock %}
