{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <main>
    <div class="border solid border-zinc-800 py-4 border-x-0 border-y-2">
      <h1 class="text-6xl font-md text-center">Lens of Truth: Journalism with Purpose</h1>
    </div>
    <div class="flex flex-row w-10/12 mx-auto mt-4 justify-around items-center max-sm:w-full max-sm:flex-col-reverse"> 
      <hgroup class="w-6/12 max-sm:w-full max-sm:mt-8 max-sm:mx-2">
      <p>In a world of noise, we seek clarity. Like a butterfly drawn to a single flower, our journalism focuses on what truly matters. At Lens of Truth, we distill complex realities into essential insights, bringing you news that illuminates rather than overwhelms. Thoughtful, purposeful, and uncompromising—because the truth, like nature itself, is both simple and profound.
      <br> We believe journalism should be a gentle landing place for curious minds. Our coverage cuts through partisan rhetoric and sensationalism to reveal the simple truths that connect us. Follow our focused reporting as we alight on stories that matter, bringing perspective to a chaotic information landscape. Lens of Truth—where clarity isn't just our method, it's our mission.</p>
      </hgroup>
      <div>
        <img src="{{ asset('images/bw-butterfly.jpg') }}" class="w-80 h-80 object-cover mx-auto mt-4 rounded-full shadow-lg" alt="Lens of Truth Logo" />
      </div>
      </div>
    </main>
{% endblock %}
