<nav class="bg-slate-700 text-white">
  <ul class="flex justify-center gap-6 text-xl font-bold">
    <li class="list-none">
      <a class="hover:bg-sky-800 translate-all block py-4 px-5 list-none" href="{{path('homepage')}}">Accueil</a>
    </li>
    <li>
      <a class="hover:bg-sky-800 translate-all block py-4 px-5 list-none" href="{{path('app_about')}}">À propos</a>
    </li>
    <li>
      <a class="hover:bg-sky-800 translate-all block py-4 px-5 list-none" href="{{path('app_contact')}}">Contact</a>
    </li>
  </ul>
</nav>
